.dibujo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr auto;

    .munheco {
        justify-self: flex-end;
        margin-top: 90px;
    }

    .letras {
        margin: 50px auto 10px;
    }

    canvas {
        place-self: center;
    }
}

#presionar_teclas {
    position: absolute;
    padding: 0px;
    width: .5px;
    left: calc(100% - .5px);
    top: 75%;
    border: none;
    color: $fondo;
    background: none;
    outline: none;
    text-decoration: none;
    cursor: default;
    &::placeholder {
        color: $fondo;
    }
    &:focus {
        outline: none;
    }
}
