.dibujo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr auto;

    .munheco {
        justify-self: flex-end;
        margin-top: 90px;
    }

    .letras {
        margin: 50px auto 10px;
    }

    canvas {
        place-self: center;
    }
}
